@media only screen and (max-width: 660px){
    
    .logo-container{
        display: none;
    }

    .panel-container{
        grid-column: 1 / span 12;
    }

}
@media only screen and (max-width: 360px){
    
    #container{
       padding: 0;
       height: 100vh;
    }

    .panel{
        height: 100vh;
        border-radius: 0;
    }

    .panel__heading{
        margin-top: 24px;
    }
}